---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Tools from "~/components/tools-section.astro";
import Intro from "~/components/intro.astro";
import NotARobot from "~/components/not-a-robot.astro";
import Rollercoaster from "~/components/rollercoaster.astro";
import Faq from "~/components/faq.astro";
import End from "~/components/end.astro";
---

<BaseLayout>
  <Intro />
  <Tools />
  <Rollercoaster />
  <NotARobot />
  <Faq />
  <div class="flex justify-center">
    <pre>
    *─────────────*
    | I USE ARCH  |
    | BTW         |
    *─────────────*
          o
           o   ^__^
            o  (oo)\_______
               (__)\       )\/\
                   ||----w |
                   ||     ||
  </pre>
  </div>
  <End />
</BaseLayout>
