---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="mb-24 flex scroll-mt-24 flex-col items-start gap-4 space-y-4"
>
  <div class="text-left">
    <h2 class="font-extrabold tracking-tight text-pink-600 text-2xl">
      {title}
    </h2>
  </div>
  <slot />
</section>
