<div class="flex justify-center">
  <pre>
    *─────────────*
    | I USE ARCH  |
    | BTW         |
    *─────────────*
          o
           o   ^__^
            o  (oo)\_______
               (__)\       )\/\
                   ||----w |
                   ||     ||
  </pre>
</div>
