---
import ContentSection from "~/components/content-section.astro";

export interface FooterLink {
  title: string;
  url: string;
}

const links: Array<FooterLink> = [
  {
    url: "mailto:moin@derbe.dev",
    title: "email",
  },
  {
    url: "https://github.com/DerbeDotDev",
    title: "github",
  },
  {
    url: "https://www.xing.com/profile/Axel_Adrian025236/cv",
    title: "xing",
  },
  {
    url: "https://www.linkedin.com/in/derbedotdev",
    title: "linkedin",
  },
];
---

<ContentSection title="Das wars" id="" marginBottom="8">
  <ul class="relative flex gap-4">
    {
      links.map((link) => (
        <li>
          <a href={link.url} target="_blank">
            <span class="text-pink-500">#</span>
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</ContentSection>
