---
import ContentSection from "~/components/content-section.astro";
import Card from "~/components/card.astro";
---

<ContentSection title="Moin Welt." id="moin">
  <Fragment slot="lead">Ich bin Axel.</Fragment>
  <Card>
    <p text-offset>
      <span class="text-pink-500">#</span>
      Code schreiben ist meine Superkraft. Bugs mit Gedankenkraft zu beheben ist
      meine Zauberkraft. Datenbanken optimieren ist meine Meisterleistung. Ich baue
      individuelle und innovative Softwarelösungen, die dich umhauen werden. Geschickt
      wie ein LEGO-Baumeister und kreativ wie ein Picasso - kein Schnickschnack oder
      Tüddelkram.
      <br />
      <br />
      <span class="text-pink-500">#</span>
      Meine Leidenschaft ist Software, die funktioniert - von der Idee bis zur Umsetzung.
      Prototyping, Entwicklung, Testing, Deployment und Wartung - ich rede nicht
      nur darüber, ich mache es. Bis es so funktioniert, wie du es dir wünschst.
      <br />
      <br />
      <span class="text-pink-500">#</span>
      Web, iOS, Android, macOS, Windows oder Linux? Neue Technologien und ein Überfluss
      an Möglichkeiten können überwältigend sein. Ich sage dir, welche Anwendung
      am besten zu dir und deinen Nutzern passt.
      <br />
      <br />
      <span class="text-pink-500">#</span>
      Software, die nicht funktioniert, macht mich als Programmierer wütend. Aber
      Software muss nicht wütend machen - ich baue Lösungen, die dich zum Strahlen
      bringen und die das machen, was du möchtest. Nicht umgekehrt.
      <br />
      <br />
      <span class="text-pink-500">#</span>
      Lass uns gemeinsam deine kreative Vision verwirklichen. Lerne mich kennen und
      bring Kaffee mit - ich verwandle Koffein in großartige Software.
    </p>
  </Card>
</ContentSection>
