---
import ContentSection from "~/components/content-section.astro";
import Card from "~/components/card.astro";

import { Picture } from "@astrojs/image/components";
import meImage from "~/assets/me.png";

const widths = [150];
const sizes = "150px";
---

<ContentSection title="Moin Welt" id="moin">
  <Picture
    src={meImage}
    widths={widths}
    sizes={sizes}
    loading="eager"
    alt="Thats me."
    class="rounded-lg border border-current"
  />

  <Fragment slot="lead">Ich bin Axel.</Fragment>
  <Card>
    <p text-offset>
      <span class="text-pink-500">&gt;_</span>
      Ich bin Axel. Ich lebe im Terminal. Ich liebe es Code zu schreiben, zu tüfteln
      und neue Dinge zu erkunden. Zurzeit tauche ich tief ein in Go, Vim und Algorithmen
      & Datenstrukturen.
    </p>
  </Card>
</ContentSection>
