---
import ContentSection from "~/components/content-section.astro";
import Card from "~/components/card.astro";
---

<ContentSection title="Moin Welt." id="moin">
  <Fragment slot="lead">Ich bin Axel.</Fragment>
  <Card>
    <p text-offset>
      <span class="text-pink-500">#</span>
      Ich bin freiberuflicher Softwareentwickler. Bei mir gibt's keinen Bullshit oder überflüssigen Schnickschnack. Nur klar strukturierten, effizienten Code.      <br />
      <br />
      <span class="text-pink-500">#</span>
      Von der Ideenfindung über Prototyping, Entwicklung, Testing bis hin zum Deployment und der Wartung. Web, iOS, Android, macOS, Windows oder Linux – In der Welt der unzähligen Technologien behalte ich den Überblick und wähle die Anwendung aus, die am besten zu dir und deinen Nutzern passt.      <br />
      <br />
      <span class="text-pink-500">#</span>
      Bist du bereit, deine Software-Träume Wirklichkeit werden zu lassen? Dann pack einen Kaffee ein und lass uns loslegen. Ich freue mich darauf, gemeinsam mit dir Koffein in beeindruckende Software zu verwandeln.
    </p>
  </Card>
</ContentSection>
