---
import Card from "~/components/card.astro";

export interface Props {
  items: Array<string>;
}

const { items } = Astro.props;
---

<Card>
  <ul class="flex flex-wrap gap-2">
    {
      items.map((item) => (
        <>
          <span class="text-pink-500">#</span>
          {item}
        </>
      ))
    }
  </ul>
</Card>
